body {
    background: #dfdddd;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif; 
}
#wrapper {
    width: 70%;
}
#chatbox {
    margin:0 auto;
    height: 400px;
    background: white;
    padding: 20px;
    position: relative;
    overflow-y: auto;
}
.message-style {
    background: black;
    margin-bottom: 10px;
    color: white;
    width: fit-content;
    padding: 10px 50px 10px 10px;
    border-radius: 10px;
    display: block;
}

.message-wrapper.message-reciever {
    width: 100%;
    display: flex;
    justify-content: right;
}

.user h1 {
    margin: 0px;
}
.user {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user {
    border-radius: 10px;
}
.user-list {
    margin-top: 25px;
    border: 1px solid #dfdddd;
    border-radius: 5px;
    height: 60%;
    overflow-y: auto;
}
.button {
    background: #dfdddd;
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: .3s;
}
.user a:hover,
.submit_button:hover {
    background: #c9c7c7;
}
.create-group {
    background: white;
}
.group_name {
    border: 1px solid #c9c7c7;
    width: 40%;
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    outline: none;
    transition: .3s; 
}
.submit_button,
.options {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: .2s;
}
.accept {
    background: black;
    color: white;
}
.group_name:focus {
    border: 1px solid black;
}
#create_group,
#user-list {
    transform: .5s;
}
#user-list {
    display: none;
}
.submit_button:disabled {
    opacity: .5;
    cursor: not-allowed;
}
.submit_button:disabled:hover {
    background: #dfdddd;
}
.user-list-button {
    display: none;
}